.container {
	width: 1200px;
	margin: auto;
	min-height: 400px;
	text-align: center;
}

.title {
color: #333333;
font-family: Tahoma;
font-size: 15px;
font-weight: 700;
text-transform: uppercase;
margin-top: 50px;
margin-bottom: 50px;
}

.row__image {
	min-height: 80px;
}

.row__text {
	min-height: 40px;
}

.block-1, .block-2, .block-3, .block-4, .block-5, .block-6 {
	border: solid 3px #88DBE7;
	padding-top: 15px;
	/*margin: 1px 1px;*/
}